@charset "UTF-8";

/* 基本表示 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: fantasy;
}
#STATIC_WRAP {
	margin: auto;
}
header {
	width: 100%;
	float: left;
}
.header-dropdown{
  position : relative;
  display : inline-block;
}
.header-dropdown-menu{
  display : none;
  position : absolute;
}
.header-dropdown-menu a{
  display : block;
}
.header-dropdown:hover .header-dropdown-menu {
  display: block;
}
li {
	display: inline-block;
}
a {
	color: black;
	text-decoration: none;
}
a:hover{
	cursor: pointer;
	color: gray;
}
aside {
	width: 12%;
	float: left;
}
footer {
	width: 100%;
	float: left;
}

/* 1600x900 PC*/
#STATIC_WRAP {
	width: 1600px;
	height: 900px;
	margin-top: 18px;
}
header, footer {
	height: 120px;
}
header {
	border: 1px solid;
	padding: 12px;
}
header ul li {
	padding: 12px;
}
footer {
	border: 1px solid;
}
aside, .bodyWrap {
	height: 660px;
	float: left;
}
aside {
	border-left: 1px solid;
}
.bodyWrap {
	width: 88%;
	border-left: 1px solid;
	border-right: 1px solid;
}