@charset "UTF-8";

/* 基本表示 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: fantasy;
}
header, footer {
	width: 100%;
	float: left;
}
#HEADER_MENU li {
	display: inline-block;
}
#HEADER_MENU li a{
	color: black;
	text-decoration: none;
}
aside {
	width: 12%;
	float: left;
}
a:hover{
	cursor: pointer;
	color: gray;
}

/* 1600x900 PC*/
#STATIC_WRAP {
	width: 1600px;
	margin: auto !important;
	background-color: purple;
}
header, footer {
	height: 120px;
}
header {
	background-color: red;
	padding: 12px;
}
header ul li {
	padding: 12px;
}
footer {
	background-color: green;
}
aside, .bodyWrap {
	height: 690px;
	float: left;
}
aside {
	background-color: yellow;
}
.bodyWrap {
	width: 88%;
	background-color: blue;
}