@charset "UTF-8";

/* 基本表示 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: fantasy;
}
#STATIC_WRAP {
	margin: auto;
}
header {
	width: 100%;
	border: 1px solid;
	float: left;
}
.header_menu {
	padding: 12px;
	display: inline-block;
	position: relative;
}

.header-sub-menu {
	position: absolute;
	display: none;
}
a {
	color: black;
	text-decoration: none;
}
a:hover{
	cursor: pointer;
	color: gray;
}
aside {
	width: 12%;
	border-left: 1px solid;
	float: left;
}
.bodyWrap {
	width: 88%;
	border-left: 1px solid;
	border-right: 1px solid;
	float: left;
}
footer {
	width: 100%;
	border: 1px solid;
	float: left;
}

/* 1600x900 PC*/
#STATIC_WRAP {
	width: 1600px;
	height: 900px;
	margin-top: 18px;
}
header, footer {
	height: 120px;
}
header {
	padding: 12px;
}
aside, .bodyWrap {
	height: 660px;
}
